* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

li{
	list-style-type:none;
}

a{
	text-decoration: none;
}

html {
    font-size: 14px;
    box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.container {
	max-width: 1142px;
	margin: 0 auto;
}

header{
	background-color:#222222;
	padding:16px 0;
	width:100%;
}

.header__content{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.header__left{
	display: flex;
	align-items: center;
	gap:41px;
}

.logo{
	display: flex;
	text-decoration: none;
}

.search{
	display: flex;
	align-items: end;
	height:38px;

}

.search__icon{
	width: 100%;
	cursor:pointer;
}

.nav{
	display: flex;
	gap:34px;
}

.nav__link{
	display:flex;
	align-items: center;
}

.search__form {
	margin:0 0 0 10%;
    border: none;
    outline: none;
    transition:0.5s;
    opacity: 0;
}

.search:hover .search__form {
    padding: 5px 10px;
    opacity: 1;
}

.title{
	display:grid;
	grid-template-columns: 1fr 1fr;
}


.content__block{
	width:100%;
	background-color:#F1E4E6;
	display:flex;
	align-items: center;
}

.content__block__gray{
	width:100%;
	background-color:#71676914;
	display:flex;
	align-items: center;
}

.title__container{
	margin:0 0 0 auto;
}

.block__container{
	display:flex;
	margin: 0 0 0 60px;
}


.block__line{
	width: 12px;
	background-color: #F16D7F;
}


i {
	font-style: italic;
  }
.block__text{

	margin:0 0 0 16px;
}

p{
	font-size:14px;
	font-weight: 400;
	color:#9f9f9f9f;
}



h1 {
	font-size: 48px;
	font-weight: 900;
}

h2 {
	font-size: 32px;
	line-height: 100%;
	font-weight: 700;
}

h3 {
	font-size: 30px;
	font-weight: 400;
}

h4{
	font-size: 24px;
	font-weight: 700;
	line-height: 150%;
}

h5{
	font-size: 20px;
	line-height: 100%;
	font-weight: 400;
}

h6 {
	font-size: 18px;
	line-height: 100%;
	font-weight: 400;
}

.small-text{
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
}

.micro-text{
	font-weight: 400;
	font-size: 13px;
}

.line-height{
	line-height: 167%;
}
.left{
	text-align: left;
}
.center{
	text-align: center;
}
.uppercase{
	text-transform: uppercase;
}
.white{
	color: #ffff;
}
.black{
	color:black;
}
.red{
	color:#F16D7F;
}

.margin12{
	margin:12px 0 0 0;
}
.margin18{
	margin:18px 0 0 0;
}
.gallery{
	margin:63px 0 0 0; 
}

.gallery__block{
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap; 
	gap:30px;
}

.gallery__card{
	height:260px;
	width:360px;
}
.gallery__card__long{
	height:180px;
	width:1142px;
}
.women{
	background-image: url('./images/women.png');
	background-repeat: no-repeat;
}

.man{
	background-image: url('./images/man.png');
	background-repeat: no-repeat;
}

.kid{
	background-image: url('./images/kid.png');
	background-repeat: no-repeat;
}

.shoe{
	background-image: url('./images/shoe.png');
	background-repeat: no-repeat;
}

.gallery__text{
	position:relative;
	top:110px;
}
.gallery__text__long{
	position:relative;
	top:65px;
}

.buy{
	margin:97px 0 0 0;
}

.headline{
	text-align: center;
	display: flex;
	flex-direction: column;
	gap:6px;
}

.docker{
	margin:16px 48px;
	gap:30px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	margin:48px 0 0 0;
}


.docker-overlay{
	position: absolute;

	
}



.docker__block{
	display:flex;
	flex-direction: column;
}

.docker__image{
	height: 420px;
	
}

.docker__info{
	height:162px;
	background-color:#F8f8f8;
	padding:24px 29px 20px 16px;
}

.docker-margin{
	margin:12px 0 0 0 ;
}

.docker__block img {
    width: 100%;
    display: block;
    transition:0.8s;
}
.docker__block:hover img {
    filter: brightness(0.4);
}
.docker__block:hover .docker-overlay {
    opacity: 1;
}
.docker-overlay {
	position: relative;
	bottom: 55%;
	left: 33%;
	opacity: 0;
}

.cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid white; 
	background-color:transparent;
	color:white;
	padding:13px;
    cursor: pointer;
}

.cart:hover {
    opacity: 0.7;
}

.cart-img{
	width:26px;
	height:23px;
	padding: 0 5px 0 0;
}

.button-container{
	display: flex;
	justify-content: center;
	margin:48px 0 0 0;
}
.browse{
	background-color: transparent;
	text-wrap: nowrap;
	border: 2px solid #ff6b6b;
	cursor: pointer;
	width:212px;
	height:48px;
	padding: 13px;
}

.browse:hover{
	opacity:0.8;
	transition:0.7s;
	background-color: #F16D7F;
}

.browse:hover .small-text{
	color:white;
}


.feauters{
	height:341px;
	background-color: #222224;
	margin:95px 0 0 0;
	display: flex;
	align-items: center;
}

.feauters__item{
	color: #ffff;
	text-align: center;
	display: flex;
	justify-content: end;
	flex-direction: column;
	align-items: center;
}
.feauters__image{
	height:60px;
	width: 40px;
}


.feauters__content{
	display: flex;
	gap: 60px;
}




.subscribe{
	background-image: url('./images/surf.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.subscribe__content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 450px;
}

.subscribe__face{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:225px;

}
.subscribe__img{
	height:71px;
	width:71px;
}
.subscribe__subscribe{
	display: flex;
	flex-direction: column;
	align-items: center;
}

blockquote{
	text-align: center;
	margin:30px 0 0 0;
}

.subscribe-form{
	background-color: #e5e5e5; 
	border-radius: 30px;
	margin:22px 0 0 0;

}

.subscribe-form input {
	padding: 15px 20px;
	font-size: 16px;
	outline: none;
	background-color: transparent;
}

.submit{
	background-color: #F16D7F;
	color: white;
	border: none;
	border-radius: 30px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 15px 25px;
	font-size: 16px;
	cursor: pointer;
}

footer{
	background-color: #222224;
}


.brand{
	color:#fbfbfb
}

.footer__content{
	display:flex;	
	justify-content: space-between;
	align-items: center;
	padding:30px 0;
}

.social-list{
	display: flex;
	flex-direction: row;
	gap:7px;
}

.footer-btn{
	cursor:pointer;
	height: 32px;
	width: 32px;
	display: flex;
	background-position: center;
	background-size: cover;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-btn.img{
	height: 24px;
	width:24px;
}

.footer-btn:hover{
	background-color: #F16D7F;
}

.hidden{
	display:none;
}




/* 

|_
(O)
|#|
'-'

*/
/* смартфоны */
@media (max-width: 375px) {
	.container {
		max-width: 375px;
		margin: 0 5%;
	}
	
	.nav{
		display: flex;
		gap:5%;
		flex-direction: row-reverse;
	}

	.title{
		width:100%;
	}


	h1{
		font-size: 38px;
	}

	h2{
		font-size: 20px;
	}
	h6{
		font-size: 12px;
	}
	.title{
		grid-template-columns: 1fr;
	}

	.content__block{
		width:100%;
		height: 100vh;
		justify-content: center;
	}

	.block__container{
		justify-content: center;
		margin:0;
	}

	.footer__content{
		flex-direction: column-reverse;
		padding:43px 0 9px 0;
	}
	.brand{
		margin:40px 0 0 0;
	}
	
	.gallery__block{
		display:flex;
		justify-content: center;
		gap:32px;
	}
	
	.gallery__card{
		width:343px;
		height:247px;
	}

	.gallery__card__long{
		height:111px;
		width:343px
	}
	.gallery__text{
		position:relative;
		top:110px;
	}
	.gallery__text__long{
		position:relative;
		top:35px;
	}

	.buy{
		margin:64px 0 0 0;
	}

	.docker{
		display:flex;
		flex-direction: column;
	}
	.docker__image{
		height: auto;
	}

	.feauters{
		height: 610px;
		gap:46px;
	}

	.feauters__content{
		flex-direction: column;
	}
	.subscribe{
		width: 100%;
	}
	.subscribe__content{
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	
	
	.subscribe__face{
		justify-content: center;
		width:100%;
		height:auto;
	}
	.subscribe__img{
		height: 62px;
		width:62px;
	}
	.subscribe__subscribe{
		width:100%;
	}
	.subscribe-form{
		background-color: #e5e5e5; 
		border-radius: 30px;
		margin:10px 0 0 0;
	
	}
	
	.subscribe-form input {
		padding: 10px 15px;
		font-size: 12px;
	}
	
	.submit{
		padding: 10px 12px;
	}
	.hidden-mobile{
		display:none;
	}
}  
/* смартфоны и планшеты */
@media (min-width:376px) and (max-width: 769px) {
	.container {
		max-width: 769px;
		margin: 0 5%;
	}

	h1{
		font-size: 44px;
	}
	blockquote{
		font-size:20px;
		width:359px;
	}
	h2{
		font-size:24px;
	}
	.nowrap{
		white-space: nowrap;
	}

	.maximum{
		width:759px;
		letter-spacing: 0%;
	}

	header{
		padding:16px 32px;
	}

	.title{
		width:100%;
		height:100vh;
		grid-template-columns: 1fr;
	}

	.content__block{
		width: 100%;
	}
	.feauters__content{
		flex-direction: column;
		gap:48px;
		width:360px;
	}

	.feauters{
		width:769px;
		height:610px;
		background-color: #222224;
		margin:64px 0 0 0;
		display: flex;
		align-items: center;
	}
	
	.gallery__block{
		display:flex;
		justify-content: center;
		gap:32px;
	}
	
	.gallery__card{
		width:343px;
		height:247px;
	}

	.gallery__card__long{
		height:111px;
		width:343px
	}
	.gallery__text{
		position:relative;
		top:110px;
	}
	.gallery__text__long{
		position:relative;
		top:35px;
	}
	.buy{
		margin:154px 0 0 0;
	}
	.docker{
		gap:16px;
		grid-template-columns:1fr 1fr;
	}
	.docker__image{
		height: auto;
	}

	.flex-center{
		display: flex;
		justify-content: center;
	}

	.feauters{
		width: 100%;
		justify-content: center;
	}

	.subscribe{
		width: 100%;
	}
	.subscribe__content{
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	.subscribe__img{
		width:96px;
		height: 96px;
	}

	.footer__content{
		padding:24px 0; 
	}
	.hidden-tab{
		display:none;
	}

}

/* Планшеты и маленькие ПК */
@media (min-width:770px) and (max-width: 1599px) {
	.container {
		max-width: 1599px;
		margin: 0 5%;
	}
	
	.header{
		padding:16px 5% 16px 5%;
	}

	.title{
		width:100%;
	}

	.content_img{
		max-width: 100%; 
		padding:0 0 0 10%;
	}

	.gallery__card{
		max-width:30%; 
		background-position-x: center;
	}
	.docker__image{
		height: auto;
	}
	.docker__info{
		padding: 2%;
	}

	.gallery__card__long{
		width: 100%;
		background-repeat: repeat;
	}
	.hidden-tab2{
		display:none;
	}
}


/* Вопросы
конфликт hidden-tab
переместил вниз класс и заработало

какая последовательность работы
я для каждого медиа запроса одни и те же блоки переделываю каждый раз, вроде можно умнее?
*/